<!--<footer>
    <ul>
        <li class="active"><a href="{:U('Index/index')}"><img src="__PUBLIC__/images/footer/home_active.png"></a></li>
        <li ><a href="{:U('Rili/index')}"><img src="__PUBLIC__/images/footer/calendaer.png"></a></li>
        <li ><a href="{:U('Message/index')}"><img src="__PUBLIC__/images/footer/message.png"></a></li>
        <li ><a href="{:U('Kid/index')}"><img src="__PUBLIC__/images/footer/baby.png"></a></li>
        <li ><a href="{:U('Min/index')}"><img src="__PUBLIC__/images/footer/user.png"></a></li>
    </ul>
</footer>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YcYT3uNlm5gomMRk8tunRvbQBzmWvGOH"></script>

<script src="__PUBLIC__/js/zepto1.js"></script>
<script src="__PUBLIC__/js/sm1.js"></script>
<script src="__PUBLIC__/js/2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
</body>
</html>

<footer>
    <ul>
        <li class="active"><a href="{:U('Index/index')}"><img src="__PUBLIC__/images/footer/home_active.png"></a></li>
        <li ><a href="{:U('Rili/index')}"><img src="__PUBLIC__/images/footer/calendaer.png"></a></li>
        <li ><a href="{:U('Message/index')}"><img src="__PUBLIC__/images/footer/message.png"></a></li>
        <li ><a href="{:U('Kid/index')}"><img src="__PUBLIC__/images/footer/baby.png"></a></li>
        <li ><a href="{:U('Min/index')}"><img src="__PUBLIC__/images/footer/user.png"></a></li>
    </ul>
    </footer>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YcYT3uNlm5gomMRk8tunRvbQBzmWvGOH"></script>
<script src="__PUBLIC__/js/zepto1.js"></script>
<script src="__PUBLIC__/js/sm1.js"></script>
<script src="__PUBLIC__/js/2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index1.js"></script>	
</body>
</html>  -->