<!DOCTYPE html>
<html lang="en">
<head>
    <title>零距离童军-忘记密码</title>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/login.css">
</head>
<body>
     <!--主体-->
    <section id="retrievePwd">
        <!--背景图-->
        <img src="__PUBLIC__/pc/images/login/bg_login.png" alt="">
         <!--找回密码-->
        <div id="retrieve_bg">
            <p>找回密码</p>
            <form action="/Home/Min/forgetPwd" method="post">
                <input type="text" name="phone" autofocus placeholder="请输入您的手机号/账号" id="phone">
                <input type="text" name="passcode" placeholder="请输入验证码" id="auth_code">
                <a href="#" class="msgs" onclick="return checkform();">获取验证码</a>
                <input type="password" name="password1" placeholder="设置新密码" id="newPwd">
                <input type="password" name="password2" placeholder="再次输入新密码" id="newPwd2">
                <p class="pwdError">您输入的验证码错误或密码不一致</p>
                <input type="submit" value="提交" id="sub_tj">
            </form>
        </div>
    </section>
     <script src="__PUBLIC__/pc/js/jquery-1.11.3.js"></script>
      <script type="text/javascript">
     function checkform(){
  	    var mobile=$('#phone').val();
 		var reg=/^1(3|4|5|7|8)\d{9}$/ ;
 		if(mobile!=""&&reg.test(mobile)){
 			$.ajax({
 			   type:"get",
 			   url:"/Home/Sms/sendSMS",
 			   data: {"mobile":mobile},
 			   dataType:"json",
 			   success:function(data){
 				   alert(data);
 				   }
 			   }
 			);
 			return true;
 		}
 		else{
 		   return false;
 		}
 	}
     </script>
     <script>
         $(function  () {
             //获取短信验证码
             var validCode=true;
             $(".msgs").click (function (e) {
                 e.preventDefault()
                 var time=60;
                 var code=$(this);
                 if (validCode) {
                     validCode=false;
                     code.addClass("msgs1");
                     var t=setInterval(function  () {
                         time--;
                         code.html(time+"秒");
                         if (time==0) {
                             clearInterval(t);
                             code.html("重新获取");
                             validCode=true;
                             code.removeClass("msgs1");

                         }
                     },1000)
                 }
             })
         })
     </script>
</body>
</html>