<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/css/login.css">
    <link rel="stylesheet" href="__PUBLIC__/css/myhomepage.css">
    <style>
        #WeChat_succ {
            height: 500px;
            position: relative;
            padding-top: 6rem;
        }
        #WeChat_succ p{
           width:100%;
            margin: 0 auto;
            font-size: 3rem;
            text-align: center;
        }

    </style>
</head>
<body>
     <!--登录顶部-->
     <header class="headerBox">
         <div class="top_box">
             <!-- 页头左侧部分
             <ul class="city lt">
                 <li>所在城市：</li>
                 <li ><a href="#" class="current_city">南通</a></li>
                 <li><a href="#"><img src="__PUBLIC__/images/head/position.png" /></a></li>
             </ul> -->
             <!-- 页头右侧部分-->
             <p class="rt">
                 <a href="#">退出</a>
             </p>
         </div>
         <!--logo-->
         <div class="logo_box">
             <div class="Subtab">
                 <a href="index.html" class="lt"><img src="images/logo.png" alt=""></a>
                 <!--控制台-->
                 <div class="console">
                     <ul class="lt">
                         <li><a href="index.html">首页</a></li>
                         <li class="user_set">
                             <a>账户设置</a>
                             <ul class="drop_down">
                                 <li><a href="set.html">修改设置</a></li>
                                 <li><a href="changePassword.html">修改密码</a></li>
                             </ul>
                         </li>
                         <li class="message"><a href="#">消息 <span>22</span></a></li>
                     </ul>
                     <!--<form action="" class="seek">-->
                         <!--<input type="text" placeholder="天门山3日游">-->
                         <!--<button>搜索</button>-->
                     <!--</form>-->
                 </div>
             </div>
         </div>
     </header>
     <!--主体-->
    <section id="WeChat_succ">
        <!--背景图-->
        <!--<img src="images/login/bg_login.png" alt="" >-->
        <!--<div id="WeChat_bg">-->
            <!--<p>使用微信扫码功能授权登录零距离童军</p>-->
            <!--<img src="images/login/bg_qr_code_big.png" alt="">-->
        <!--</div>-->
        <p >
            <img src="__PUBLIC__/pc/images/error.png" alt="">
            支付失败
        </p>
    </section>
    <footer id="loginFooter">
            <p>零距离童军</p>
            <p>互联网 + 教育 + 亲子体验&nbsp;&nbsp;将迎来孩子教育的新时代</p>
            <p>教给孩子终身受用的生存技能和价值观，林距离体验课堂成教育新趋势</p>
        <div class="foot">
            <!-- 二维码-->
            <img src="images/foot/Qr-code.png" alt=""/>
            <!-- 咨询热线-->
            <span>咨询热线：0513-85221106</span>
            <!-- 备案号-->
            <p>Copyright©2016 零距离童军 All Rights Reserved 粤ICP备16004714号</p>
        </div>
    </footer>

</body>
</html>