<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>零距离童军-微信登录</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/login.css">
</head>
<body>
     <!--主体-->
    <section id="WeChat">
        <!--背景图-->
        <img src="__PUBLIC__/pc/images/login/bg_login.png" alt="" >
        <div id="WeChat_bg">
            <p>使用微信扫码功能授权登录零距离童军</p>
            <img src="__PUBLIC__/pc/images/login/bg_qr_code_big.png" alt="">
        </div>

    </section>
</body>
</html>