<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/pintuer/pintuer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/swiper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
</head>
    <style>
            .swiper-slide a {
                display: inline-block;
                width: 70px;
                height: 70px;
                overflow: hidden;
            }
            .swiper-slide a img{
                display: inline-block;
                width: 100%;
                height: 100%;              
            }
    </style>
    <style>
        .text_color{
            color: #555;
        }
    </style>
<body>
<!--头部信息-->
    <header class="layout header" >
        <div class="line text-center">
           <div class="x3">
               <input type="text"  id='city-picker' class="text-center " placeholder="{$cityname}" onchange="upperCase()"/>
               <input type="hidden"  id='hidd' name="cityname"/>
               <!--开通城市-->
               <div class="layout city_down">
                    <h2>已开通城市</h2>
                   <ul>
				   <foreach name="citylist" item="vo">
                       <li><a href="/Home/Index/index/cityid/{$vo.areaid}">{$vo.name}</a></li>
				   </foreach>
                   </ul>
                    <h3>更多城市即将开通</h3>
               </div>
           </div>
            <div class="x6">
               <form action="__CONTROLLER__/search" class="search">
                   <input id="index_search_keyword" type="text" name="keyword" placeholder="请输入关键词"   class="text-white border border-white border-small radius-big input-small" >
                   <input type="submit" class="submit_btn" value="">
               </form>
           </div>
           <div class="x3 ">
               <a href="{:U('Index/Login')}">
	              <empty name="header_img">
	                 <img src="__PUBLIC__/images/btn_user.png" class="margin-small-bottom">
	              <else /> 
	                 <img src="__ROOT__/{$header_img}" class="margin-small-bottom" style="width:2.1rem;height:2.1rem;border-radius:50%">
	              </empty>
               </a>
           </div>
        </div>

    </header>

<!--主体内容-->
    <section class="layout margin-little-top">
        <!--轮播-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
			<foreach name="lun" item="vo">
                <div class="swiper-slide">
                    <img style="width:100%" src="/{$vo.pic_path}" alt="">
                </div>
			</foreach>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!--分类-->
        <div class="line">
		  <foreach name="menu1" item="vo">
              <div class="x3 text-center">
                  <dl>
                      <dd>
                          <a href="{$vo.url}/id/{$vo.id}">
                          <img style="background-color:white;display:inline-block;border-radius:50%" src="/{$vo.image_url}"></a>
                      </dd>
                      <dt class="text_color">{$vo.menu_name}</dt>
                  </dl>
              </div>
		  </foreach>
           </div>
        <div class="line">
		  <foreach name="menu2" item="vo">
              <div class="x3 text-center">
                  <dl>
                      <dd>
                          <a href="{$vo.url}/id/{$vo.id}"><img style="background-color:white;display:inline-block;border-radius:50%" src="/{$vo.image_url}"></a>
                      </dd>
                      <dt class="text_color">{$vo.menu_name}</dt>
                  </dl>
              </div>
		  </foreach>
            </div>
        <!--水平线-->
        <hr class="level">
        <!--累计报名人数
        <div class="line release">
            <div class="x4">
                <span class="text-center">最新发布 :</span>
            </div>
            <div class="x8">
                <div class="slide-wrap">
                    <div class="slide-mask">
                        <ul class="slide-group ">
                        <foreach name="articlelist" item="vo">
                          <li class="slide"><a href="#" class="text-more">{$vo.title}</a></li>
                        </foreach>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!--旅游地址-->
        <div class="container-layout">
        <foreach name="qinzilist" item="vo">
            <div class="line">
                <ul>
                    <li class="apply text-center">
                        <a href="__CONTROLLER__/detail/ac_id/{$vo.ac_id}"><img style="width:100%" src="/{$vo.ac_img}" class="img-responsive"></a>
                        <p class="apply-num  ">
                            累计报名人数:<b> {$vo.count} </b>人
                        </p>
                        <p class="apply-pic">{$vo.least_price}元起</p>
                    </li>
                    <li class="text-more margin-small-top margin-small-bottom">
                        {$vo.ac_title}
                    </li>
                    <li>
                       <h6 class="text-gray margin-small-bottom">  {$vo.ac_intro}</h6>
                    </li>
                    <li class="qzy text-center">
                        <p class="margin-big-right text-white radius">亲子游</p>
                        <p class="margin-big-right text-white radius">{$vo.view_addr}</p>
                        <p class="margin-big-right text-white radius">{$vo.fit_age}岁</p>
                        <hr class="bg-back">
                    </li>
                </ul>
            </div>
            <foreachelse>
              
         </foreach>
        </div>
        <!--亲子住宿-->
        <div class="container-layout stay">
            <img src="__PUBLIC__/images/scenic.png" class="img-responsive">
            <h1 class="text-center text-white ">景区门票直购</h1>
            <p class="text-center text-white">乐山乐水乐行 | 便捷出行</p>
           <h5>
               <a href="/Home/Index/category/id/4" class="radius border-white text-center">
                   查看全部
               </a>
           </h5>
        </div>
        <div class="container-layout scenic-box margin-small-top">
            <div class="scenic">
                <div class="swiper-container2">
                    <div class="swiper-wrapper">
                      <foreach name="ticketlist_recommend" item="vo">
                        <div class="swiper-slide">
                            <a href="__CONTROLLER__/detail/ac_id/{$vo.ac_id}"><img src="/{$vo.ac_img}" class="img-responsive "></a>
                            <p class="text-center text-more">{$vo.ac_title}</p>
                            <p class="text-center">￥<span>{$vo.single_price}</span>元</p>
                        </div>
                        </foreach>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <!--亲子酒店-->
        <div class="container-layout stay">
            <img src="__PUBLIC__/images/grogshop.png " class="img-responsive">
            <h1 class="text-center text-white ">亲子酒店推荐</h1>
            <p class="text-center text-white">省力省心省钱丨每周更新</p>
            <h5>
                <a href="/Home/Index/category/id/5" class="radius border-white text-center">
                    查看全部
                </a>
            </h5>
        </div>
        <div class="container-layout scenic-box margin-small-top">
            <div class="scenic">
                <div class="swiper-container2">
                    <div class="swiper-wrapper">
                    <foreach name="jiudianlist_recommend" item="vo">
                        <div class="swiper-slide">
                            <a href="__CONTROLLER__/detail/ac_id/{$vo.ac_id}"><img src="/{$vo.ac_img}"></a>
                            <p class="text-more">{$vo.ac_title}</p>
                            <p>￥<span>{$vo.single_price}</span>元起</p>
                        </div>
                        </foreach>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        <div style="height: 80px"></div>
    </section>
<!--页脚-->
    <footer class="layout fixed-bottom  footer">
     <div class="layout">
        <ul class="line">
            <li class="x3"><a href="{:U('Index/index')}"><img src="__PUBLIC__/images/footer/home_active.png" class="img-responsive" style="width:80%"></a></li>
            <li class="x3"><a href="{:U('Rili/activitycalendar')}"><img src="__PUBLIC__/images/footer/calendaer.png" class="img-responsive" style="width:80%"></a></li>
            <li class="x3"><a href="{:U('Message/index')}"><img src="__PUBLIC__/images/footer/message.png" class="img-responsive" style="width:80%"></a></li>
            <li class="x3"><a href="{:U('Min/index')}"><img src="__PUBLIC__/images/footer/user.png" class="img-responsive" style="width:80%"></a></li>
        </ul>
    </div>
    </footer>
<script src="__PUBLIC__/pintuer/jquery.js"></script>
<script src="__PUBLIC__/pintuer/pintuer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/swiper.jquery.min.js"></script>
<script src="__PUBLIC__/js/zepto1.js"></script>
<script src="__PUBLIC__/js/jquery-ui.js"></script>
<script src="__PUBLIC__/js/sm1.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=iNRD8iIAjCuobjHgg72ukB5ghbKpsaj4"></script>
<script src="__PUBLIC__/js/index.js"></script>
<script>
        //通过IP地址获取城市名称
        $(function() {
            function getadress() {
                var geolocation = new BMap.Geolocation();
                geolocation.getCurrentPosition(function (r) {   //定位结果对象会传递给r变量
                    if (this.getStatus() == BMAP_STATUS_SUCCESS) {  //通过Geolocation类的getStatus()可以判断是否成功定位。
                        var myGeo = new BMap.Geocoder();
                        // 根据坐标得到地址描述
                        myGeo.getLocation(new BMap.Point(r.point.lng, r.point.lat), function (result) {
                            if (result) {
                                var address = result.addressComponents.city.replace(/市/g, "");
                                //$("#city-picker").val(address).css("color","#fff");
                                $("#hidd").val(address);

                            }
                        });
                    }
                    else {
                        alert('failed' + this.getStatus());
                    }
                }, {enableHighAccuracy: true});
            }
            getadress();
        });

        //改变事件
        function upperCase(){
        	var cityid=$("#city-picker").val();
        	alert(cityid);
            $.ajax({ 
            	url: "__CONTROLLER__/index", 
            	type:"get",
            	dataType: "json",  
            	data: {"cityid":cityid},  
            	success: function(){
                    $(this).addClass("done");
                }
            });
        }
</script>
</body>
</html>