<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>亲子旅游</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/start.css">
    <style>
        #mentality_main{
            width: 1200px;

            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        .text_content_box{
            min-height:750px;
        }
        /*文本框*/
        .text_box{
            width: 99%;
            height: 158px;
            background: #fff;
            box-shadow:1px 1px 9px 1px #888888;
            margin-bottom: 15px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            margin-left: 5px;
            position: relative;

        }
        /*发布时间*/
        p.issue{
            text-align: center;
            color: #808080;
            font-size: 16px;
            padding: 15px 0;
        }
        /*标题*/
        .text_box h6{
            position: absolute;
            top: 10px;
            left:20px;
            font-size: 18px;
            color: #333;
        }
        /*作者*/
        .author{
            color:#808080;
            margin-left: 20px;
            margin-bottom: 15px;
        }
        /*文章导读*/
        .introduction{
            margin-left: 20px;
            color: #333;
            overflow: hidden;
        }
        .introduction p{
            width: 70px;
            float: left;
        }
        /*查看全文*/
        .introduction a{
            color: #0479CD;
            float: right;
            margin: 10px 15px  10px 0;
        }
        .introduction a:hover{
            color: #0479CD;
        }
        p.essay_content {
            float: left;
            width:94%;
            height: 40px;
            overflow: hidden;
            font-size: 16px;
            line-height: 20px;

        }
    </style>
</head>
<body>
    <!--页头-->
    <div id="header"></div>
    <!--页面主体-->
    <section  id="mentality_main">

        <!-- 首页-->
        <div class="home">
            <div><a href="#"><span>首页 </span></a>&gt;</div>
            <div><a href="#">儿童心理零距离</a></div>
        </div>
        <!-- 搜索框-->
        <form action="#" class="myForm">
            <input type="search" placeholder="您感兴趣的距离" class="search_box"/>
            <p></p>
            <a href="#"> <img src="__PUBLIC__/pc/images/imgs/search.png" alt=""/></a>
        </form>
        <div class="text_content_box">
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                        <p>文章导读：</p>
                        <p class="essay_content" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facere facilis ipsa iure magni maiores maxime necessitatibus quidem voluptatem voluptatum. Deserunt dolor eos est hic in porro quis quo reiciendis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facere facilis ipsa iure magni maiores maxime necessitatibus quidem voluptatem voluptatum. Deserunt dolor eos est hic in porro quis quo reiciendis?
                         </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>
            <div class="text_box">
                <p class="issue">发布于：<span>2016/04/11</span></p>
                <h6>谁偷走了孩子的幸福</h6>
                <p class="author">作者：妈咪妈咪么</p>
                <div class="introduction">
                    <p>文章导读：</p>
                    <p class="essay_content" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut cum dignissimos dolor expedita harum incidunt ipsam itaque labore nobis odio quas, quis recusandae, sed soluta tenetur unde vero?
                    </p>
                    <a href="#">全部文章&nbsp;&nbsp;> ></a>
                </div>
            </div>



        </div>











        <!--分页 -->
        <div class="paging">
            <ul class="page">
                <li><a href="#" class="upPage"><img src="__PUBLIC__/pc/images/imgs/leftarrow.png">&nbsp;上一页</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>……</li>
                <li><a href="#">17</a></li>
                <li><a href="#" class="upPage_down"> 下一页&nbsp;<img src="__PUBLIC__/pc/images/imgs/rightarrow.png"></a></li>
            </ul>
        </div>

    </section>
    <!--页脚-->
    <div id="footer"></div>
    <script src="__PUBLIC__/pc/js/jquery-1.11.3.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=iNRD8iIAjCuobjHgg72ukB5ghbKpsaj4"></script>
    <script src="__PUBLIC__/pc/js/index.js"></script>
    <script>
        //-首页的切换
        $($(".navRight li").delegate("a","click",function(e){
            e.preventDefault();
            $(this).addClass("HomePage").parent().siblings().children(".HomePage").removeClass("HomePage");
        }));
        //   选项的切换
        $($(".destination .left li").delegate("a","click",function(e){
            e.preventDefault();
            $(this).addClass("sky").parent().siblings().children(".sky").removeClass("sky");
           //$(".destination .left li a span input").attr("checked"); removeAttr(name)
        }));

    </script>
    <script>
        $(document).ready(function() {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });

    </script>
</body>
</html>