<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>孩子成长</title>
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=750px,target-densitydpi=device-dpi,user-scalable=no,maximum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/pintuer/pintuer.css">
    <style>
        body{
            background: #E7E7E7;
        }
        h1.text-white{
            font-size: 2.4rem;
        }

        .child_data img:first-child{
            width:15%;
        }
        .child_data img{
           width:4%;
        }
        .child_data p{
            font-size: 2.4rem;
            line-height: 5rem;
            padding-left:10%;
        }
        .child_data p span{
            margin-right:6%;
        }

    </style>
</head>
<body>
    <div class="layout">
        <div  class="line text-center padding-big " style="background: #FC9A03">
            <div class="x1">
                <a href="#"><img src="__PUBLIC__/images/ht.png" alt="" class="img-responsive margin-big-left"style="width: 50%"></a>
            </div>
            <div class="x11 ">
                <h1 class="text-white">孩子成长</h1>
            </div>
        </div>
        <!---->
        <div class="line padding-big  bg-white child_data margin-little-bottom">
            <a href="#">
                <img src="__PUBLIC__/images/people.png" alt="" class="img-responsive x2">
                <p class="x8 ">
                    <span class="child_name"> 刘松 </span>
                    <span class="child_sex"> 男 </span>
                    <span class="chils_school"> 城中小学</span>
                </p>
                <img src="__PUBLIC__/images/right.png" alt="" class="img-responsive margin-big-top float-right x2 margin-big-right">
            </a>
        </div>
        <div class="line padding-big  bg-white child_data margin-little-bottom">
            <a href="#">
                <img src="__PUBLIC__/images/people.png" alt="" class="img-responsive x2">
                <p class="x8 ">
                    <span class="child_name"> 刘月圆 </span>
                    <span class="child_sex"> 女 </span>
                    <span class="chils_school"> 实验小学</span>
                </p>
                <img src="__PUBLIC__/images/right.png" alt="" class="img-responsive margin-big-top float-right x2 margin-big-right">
            </a>
        </div>


    </div>
<script src="__PUBLIC__/pintuer/jquery.js"></script>
<script src="__PUBLIC__/pintuer/pintuer.js"></script>
</body>
</html>